fastapi>=0.110.0
uvicorn>=0.29.0
websockets>=12.0
python-dotenv>=1.0.1
mss>=9.0.1
opencv-python>=4.9.0.80
easyocr>=1.7.1
google-genai>=0.4.0
sqlalchemy>=2.0.28
pydantic>=2.7.0
pyautogui>=0.9.54
pydirectinput>=1.0.4
psutil>=5.9.8
pywinauto>=0.6.8
PyQt5>=5.15.10
keyboard>=0.13.5
pynput>=1.7.6
httpx[socks]
g4f
curl_cffi
openai
